/*** Buttons ***/
.btn {
    font-weight: 700;
}
/*** Helpers ***/
.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.pointer {
    cursor: pointer;
}

.fz18 {
    font-size: 18px;
}

.fwb {
    font-weight: bold;
}

.overflow-ellipsis {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}